--title "Notation-3 (n3-rdf) and Turtle reader/writer for RDF.rb."
--output-dir doc/yard
--protected
--no-private
--hide-void-return
--markup rdoc
--readme README.md
-
README.md
History.md
AUTHORS
VERSION
